<div class="mt-5">
  <div class="row">
    <div class="col mt-2">
      <h2>Track Editor</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-10 text-center">
      <div #container>
      </div>
    </div>
    <div class="col-2 text-left">
      <!-- <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>X: 2, Y: 8</span>
          </li>
          <li class="list-group-item">
              <span>[0, 8]</span>
              <button type="button" class="ml-3 close">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
