<div>
  <div class="row">
    <div class="col-10 text-center">
      <div #editor id="editor" oncontextmenu="return false;">
      </div>
    </div>
    <div class="col-2 text-center">
      <div class="card" id="points">
        <ul class="list-group list-group-flush">
          <li *ngFor="let point of trackRenderer.points.points; let i = index" class="list-group-item" [ngClass]="{'selected': i === trackRenderer.points.selectedPointId}"
            (click)="selectPoint(points.length - i - 1)">
            <span>[{{point.x | number : '1.1-1'}}, {{point.z | number : '1.1-1'}}]</span>
            <button type="button" class="ml-3 close" (click)="removePoint(i)">
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
