.easy {
    color: green;
}
.medium {
    color: orange;
}
.hard {
   color: red;
}


.container .col {
    font-size: 100%;
    font-weight:lighter;
}
#info {
    vertical-align:bottom;
    border-bottom: darkgray solid 0.2vmin;
    color: black;
    text-align:match-parent;
 
}




