button {
    display: inline-block;
    align-items: center;
    align-self: center;
    font-family: "CrossWords Font", 'Times New Roman', Times, serif;
    font-size: 4vmin;
    font-weight: bold;
    line-height: 0%;
    width: 100%;
    height: 100%;
    color: #212529;
    text-align: center;
    outline: none;
    background-color: transparent;
    margin:0%;
    border: none;
    padding: 0%;
    border-radius: 0%;
}

.input-letter {
    display: inherit;
}

.highlight {
    border-style: dotted;
    width:90% ;
    height: 90%;
    border-width: 0.2vmin;
}

.player1 .highlight {

    background-color: #b6cee2 !important;
    box-shadow: 0 0 0 0.4vmin steelblue,inset 0 0 1vmin steelblue ;
    border-color: steelblue!important;
}

.player2 .highlight {
    background-color: #dbb1a3 !important;
    box-shadow: 0 0 0 0.4vmin #b46146,inset 0 0 1.5vmin #b46146 ;
    border-color: #b46146!important;
}

.disabled {
    background-color: darkgrey;
    color: white;
}

.current {
    color: #212529;
    text-decoration: underline;
    animation: blinker 1.5s linear infinite;
}

.hovered {
    background-color: lightgrey;
    border-color: none;
}

@font-face {
    font-family: "Letter Font";
    src: url("/assets/fonts/GABRWFFR.TTF") format("truetype")
}

@font-face {
    font-family: "CrossWords Font";
    src: url("/assets/fonts/coffee+teademo-Regular.ttf") format("truetype")
}

@keyframes blinker {
    50% {
        background-color: white;
    }
}
