button {
    display: inline-block;
    align-items: center;
    align-self: center;
    font-family: "CrossWords Font", 'Times New Roman', Times, serif;
    font-size: 4vmin;
    font-weight: bold;
    line-height: 0%;
    width: 100%;
    height: 100%;
    color: #212529;
    text-align: center;
    background-color: transparent;
    margin:0%;
    border: thin black;
    border-radius: 0%;

}

.input-letter {
    display: inherit;
}

.disabled {
    width: 90%;
    height: 90%;
    color:rgb(105, 104, 104);
    border-color: var(--color2, white);
    border-width: 0.2vmin;
    user-select: none;
    outline: none;
    box-shadow: 0vmin 0vmin 0vmin 0.4vmin var(--color,white);
    background:repeating-linear-gradient(
        45deg,
        var(--color, white),
        var(--color, white), 1vmin,
        var(--color2,white) 1vmin,
        var(--color2,white) 2vmin
      ),var(--color2,white);
}

.selected {
    width: 90%;
    outline: none;
    height: 90%;
    border:0.25vmin var(--color, white);
    outline:0.25vmin dotted var(--color2, white);
    outline-offset:-0.2vmin;
    box-shadow: 0vmin 0vmin 0vmin 0.4vmin var(--color, white), inset 0vmin 0vmin 2vmin var(--color, white);
    background-color: var(--bgColor, white);
}

.current {
    color: #212529;
    text-decoration: underline;
    animation: blinker 1.5s linear infinite;
}

.hovered {
    background-color: lightgrey;
}

@font-face {
    font-family: "Letter Font";
    src: url("/assets/fonts/GABRWFFR.TTF") format("truetype")
}

@font-face {
    font-family: "CrossWords Font";
    src: url("/assets/fonts/coffee+teademo-Regular.ttf") format("truetype")
}

@keyframes blinker {
    50% {
        background-color: white;
    }
}
