button {
    display: inline-block;
    align-items: center;
    align-self: center;
    font-family: "CrossWords Font", 'Times New Roman', Times, serif;
    font-size: 4vmin;
    font-weight: bold;
    line-height: 0%;
    width: 100%;
    height: 100%;
    color: #212529;
    text-align: center;
    outline: none;
    background-color: transparent;
    margin:0%;
    border-color: transparent;
    border-radius: 0%;

}

.input-letter {
    display: inherit;
}

.highlight{
    

}

.disabled {
    background-color: darkgrey;
    color: white;
}

.current {
    color: #212529;
    text-decoration: underline;
    animation: blinker 1.5s linear infinite;
}

.hovered {
    background-color: lightgrey;
    border-color: none;
}

@font-face {
    font-family: "Letter Font";
    src: url("/assets/fonts/GABRWFFR.TTF") format("truetype")
}

@font-face {
    font-family: "CrossWords Font";
    src: url("/assets/fonts/coffee+teademo-Regular.ttf") format("truetype")
}

@keyframes blinker {
    50% {
        background-color: white;
    }
}
