.easy {
    color: #328132;
}

.medium {
    color: #dbdb1f;
}

.hard {
    color: rgb(126, 0, 0);
}

.container .col {
    font-size: 100%;
    font-weight: lighter;
}

.container {
    vertical-align: bottom;
    text-align: match-parent;
}
#cancelBtn{
    background-color: #b44646;
    border: #813232;
}
#playBtn{
    background-color: steelblue;
    border: rgb(47, 90, 124);
}
#info .btn {
    border: solid darkgrey;
    background-color: transparent;
    box-shadow: transparent;
    font-weight: lighter;
    padding-top: unset;
}
#levelMod .modal-content {
    font-family: "Button Font", 'Times New Roman', Times, serif;
    border: #212529 solid 2vmin;
    background-color: lightgrey;
}
#modalLabel {
    font-size: 200%;
    margin: 3vmin;
}
.card {
    font-family: "Button Font", 'Times New Roman', Times, serif;
    background-color: transparent;
    border: none;
}
.modal-footer{
    border: none;
}

#info .btn:hover {
    color: steelblue;
}

p {
    margin-top: 0.2vmax;
    margin-bottom: 0%
}

#player1 {
    background-color: #b6cee2;
}

#player2 {
    background-color: #dbb1a3;
}

#info .btn:hover {
    background-color: transparent;
    box-shadow: transparent;
}

#info .btn:active {
    background-color: transparent;
    box-shadow: transparent;
}

#info .btn:focus {
    background-color: transparent;
    box-shadow: unset;
}

.card th {
    font-weight: lighter;
}

#player {
    text-align: left;
}

#result {
    text-align: right;
}


#level {
    text-align: center;
}
#levelMod.show {
    display: block;
}

.btn p {
    margin-top: 0%;
}

table td, table th {
    border-top: none;
}

#info {
    font-family: "Button Font", 'Times New Roman', Times, serif;
    border: solid #212529;
    border-radius: 0.5vmax;
    background-color: darkgrey;
    padding-right: 0.5vmax;
}

#nbPlayers {
    border-right: solid #212529 0.2vmax;
}

.table {
    border: solid #212529 0.2vmax;
}

@font-face {
    font-family: "Button Font";
    src: url("/assets/fonts/atwriter.ttf") format("truetype")
}
