<div class="row text-center mt-3">
  <div class="col text-center">
    <table class="table table-dark table-hover table-stripped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th><!-- EDIT --></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Piste 1</td>
          <td><button class="btn btn-light">Edit</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Piste 2</td>
          <td><button class="btn btn-light">Edit</button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Piste 3</td>
          <td><button class="btn btn-light">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
