 td:hover {
    background-color: #e7e7e7;
}
th{
    font-weight: lighter;

}

 tr {
    text-align: left;
    border-left:solid #32383e ;
    border-right: solid#32383e ;

}


#btnAdd{
    height: 100%;
    font-size: 250%;
    font-weight: bolder;
    background-color: #61b446;
    color: #e7e7e7;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    padding: 0% 0% 0% 0%;
    border: #61b446 double ;
    box-shadow: 0vmin 0.15vmin 0.5vmin 0.2vmin #61b446;
}
button{
    height: 100%;
    display:block;
    width: 100%;
}
#rowAdd {
    border: transparent;
    padding:0% 0% 0% 0%;
}

#colAdd {
    padding: 0% 0% 0% 0%;
    vertical-align: center;
    border-top: #32383e solid;
    border-left: none;
    border-right: none;
}
