<div class="row text-center mt-3">
  <div class="col text-center">
    <table class="table table-hover table-stripped" id="trackTable">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>TITLE</th>
          <th>
            <!-- EDIT -->
          </th>
        </tr>
      </thead>
      <tbody id="trackBody">
        <tr>
          <td>1</td>
          <td>Piste 1</td>
          <td>
            <button class="btn btn-light">Edit</button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Piste 2</td>
          <td>
            <button class="btn btn-light">Edit</button>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Piste 3</td>
          <td>
            <button class="btn btn-light">Edit</button>
          </td>
        </tr>
        <tr id = "rowAdd">
          <td colspan="3" id="colAdd">
            <button class="btn mt-1 btn-block-no-wrap pt-0 align-text-top " id="btnAdd">
              +
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success mt-3">
      Add track
    </button>
  </div>
</div>
