<div class="row text-center mt-3">
  <div class="col text-center">
    <table class="table justify-content-center table-stripped" id="trackTable">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>TITLE</th>
          <th>
            <!-- EDIT -->
          </th>
        </tr>
      </thead>
      <tbody id="trackBody">
        <tr *ngFor="let track of tracks">
            <td>{{track._id}}</td>
            <td>{{track.name}}</td>
            <td>
              <button class="btn btn-light"  href="#" [routerLink]="['/admin/tracks', track._id]" >Edit</button>
            </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn mt-1 btn-block-no-wrap pt-0 align-text-top" id="btnAdd" href="#" routerLink="/admin/tracks/new">
        +
      </button>
    </div>
  </div>
</div>
