#track-list {
    background-color: steelblue;
    border-radius: 3vmin;
}

.track-button {
    font-family: "Track Font", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    outline: none;
    border: none;
	border-radius: 1vmin;
    background-color: whitesmoke;

}

.track-button:active {
	box-shadow: none;
	background-color: whitesmoke;
}

.track-button:hover {
	background-color: lightgray;
}

.track-button .title {
    font-size: 170%;
}

.track-button .desription {
    font-size: 100%;
}

.track-button .playCounter {
    font-size: 120%;
}

.details {
    font-family: "Track Font", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    display: none;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 20;
    overflow: auto;
    background-color: rgba(105, 105, 105, 0.9);
}

.details-content {
    margin: 5% auto;
    padding: 2vmin;
    width: 75%;
    height: 75%;

}

.card{
    border: #212529 solid 2vmin;
    background-color: lightgrey;
    border-radius:3%;
}

.card-text {
    font-size: 80%;
    padding-left: 0.5vmin;
    padding-right: 0.5vmin;
    text-align: justify;
}

.show {
    display: block;
}

#preview {
    width: 100%;
    height: 20vmin;
    box-shadow: 0 0 0.1vmin 0.1vmin steelblue;
}

.btn-success {
    background-color: #61b446;
}

#noRace{
    background-color:	 #d9eac8;
}

h1{
    font-family: "Race Font", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    color: whitesmoke;
    padding: 2%;
}
h2{
    font-family: "Track Font", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    color: whitesmoke;
}

@font-face {
    font-family: "Track Font";
    src: url("/assets/fonts/Geometos Rounded.ttf ") format("truetype")
  }

@font-face {
    font-family: "Race Font";
    src: url("/assets/fonts/Railway to Hells.ttf") format("truetype");
  }
