#hudBody{
    background-color: transparent;
    z-index: 10;
    position: absolute;
}
#currentLap{
    font-family: "Timer Font",'Times New Roman', Times, serif;
    margin: 0%;
}

@font-face {
    font-family: "Timer Font";
    src: url("/assets/fonts/DS-DIGI.TTF") format("truetype")
  }
