#hudBody{
    background-color: transparent;
    z-index: 10;
    position: absolute;
}
#timerStart{
    font-family: "Timer Font",'Times New Roman', Times, serif;
    margin: 0%;
    font-size: 300%;
    color: yellow
}
#timerLap{
    font-family: "Timer Font",'Times New Roman', Times, serif;
    margin: 0%;
    font-size: 200%;
    color: orangered;
}
#cent{
    font-family: "Timer Font",'Times New Roman', Times, serif;
    margin: 0%;
    font-size: 75%;
}
#chron{
    white-space: nowrap;
}
#display{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    line-height: 0.5;
}
#currentLap{
    line-height: 1;
}
@font-face {
    font-family: "Timer Font";
    src: url("/assets/fonts/DS-DIGIB.TTF") format("truetype")
  }
