.hudBody {
    background-color: transparent;
    z-index: 10;
    position: fixed;
    font-family: "HUD Font", 'Times New Roman', Times, serif;
    line-height: 1;
    user-select: none;
    padding: 0%;
    margin: 0%;
    width: 97%;
    height: 83%;
}

#timerStart {
    font-family: "Timer Font", 'Times New Roman', Times, serif;
    margin: 0%;
    font-size: 300%;
    color: whitesmoke;
    text-shadow: 0px 0px 1vmin black;
}

#timerLap {
    font-family: "Timer Font", 'Times New Roman', Times, serif;
    margin: 0%;
    font-size: 200%;
    color: crimson;
    text-shadow: 0px 0px 1vmin black;
}

#timers {
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 0%;
}

#cent {
    font-family: "Timer Font", 'Times New Roman', Times, serif;
    margin: 0%;
    font-size: 75%;
}

#chron {
    white-space: nowrap;
}

#lap {
    font-family: "HUD Font", 'Times New Roman', Times, serif;
    font-size: 50%;
}

#currentLap {
    font-size: 400%;
    color: whitesmoke;
    text-shadow: 0px 0px 1vmin black;
}

@font-face {
    font-family: "Timer Font";
    src: url("/assets/fonts/DS-DIGIB.TTF") format("truetype")
}

@font-face {
    font-family: "HUD Font";
    src: url("/assets/fonts/Slope Opera.otf") format("opentype")
}
