<div class= "hudBody">
<div class="row h-50 pt-4 pr-0 w-100  ">
  <div id="currentLap" class="col col-9 w-100 pl-5 pt-3">LAP {{lapCount}}/{{totalLap}}</div>
  <div class="col jusify-item-end col-3 w-100 " id="timers">
    <div class="display" id="timerStart">
      <span id="chron">{{globalTimer.minutes | number :'2.0-0'}}:{{globalTimer.seconds | number :'2.0-0'}}</span><span id="cent">.{{globalTimer.centiseconds | number :'2.0-0'}}</span>
    </div>
    <div class="display" id="timerLap">
      <span id="lap">LAP: </span>
      <span id="chron">{{lapTimer.minutes | number :'2.0-0'}}:{{lapTimer.seconds | number :'2.0-0'}}</span><span id="cent">.{{lapTimer.centiseconds | number :'2.0-0'}}</span>
    </div>
  </div>
</div>
<div class="row h-50 w-100 justify-content-right fixed-bottom align-items-end ">
  <div class="col col-4 pr-4 w-50 ">
    <app-rpm-bar></app-rpm-bar>
  </div>
</div>
</div>
