<div class="row w-100 mt-4 hudBody">
  <div id="currentLap" class="col-block col-9 pl-5 pt-3">LAP {{lapCount}}/{{totalLap}}</div>
  <div class="col-block col-3 " id="timers">
    <div class="display" id="timerStart">
      <span id="chron">{{_globalTimer.minutes | number :'2.0-0'}}:{{_globalTimer.seconds | number :'2.0-0'}}</span><span id="cent">.{{_globalTimer.centiseconds | number :'2.0-0'}}</span>
    </div>
    <div class="display" id="timerLap">
      <span id="lap">LAP: </span>
      <span id="chron">{{_lapTimer.minutes | number :'2.0-0'}}:{{_lapTimer.seconds | number :'2.0-0'}}</span><span id="cent">.{{_lapTimer.centiseconds | number :'2.0-0'}}</span>
    </div>
  </div>
</div>
<div class="row w-100 justify-content-right align-items-end mt-4 hudBody">
  <div class="col-block col-4 fixed-bottom pb-3 mr-5 pr-3 w-50  mb-5">
    <app-rpm-bar></app-rpm-bar>
  </div>
</div>
