<div class="row w-100 pr-5 pl-5" id="hudBody">
  <div class="col " id="currentLap">
    <p id="nbLap">nbre Lap!</p>
    <span id="hor">Timer:</span>
    <div class="well">
      <div class=" display text-center">
        <span id="hor">{{minutes}}</span>:
        <span id="min">{{seconds}}</span>:
        <span id="seg">{{centiseconds}}</span>
      </div>
    </div>
    <p id="timer2">lap timer!</p>
  </div>
  <div class="col col-text-align-right" id="carInfo">
    <p class="text-right"> hud works!</p>
  </div>
</div>
