<div id="loading">
    <div id="loadImg">
        <div #preview id="preview"></div>
    </div>
    <div  id="laodDetails" class="halfHeight">
      <div class="row  halfHeight" >
        <div class="col text-center">
          <h1>
            {{ track.name }}
          </h1>
        </div>
      </div>
      <div class="row justify-content-center text-center halfHeight">
        <div id="description" class="col">
          <p>
            {{ track.description }}
          </p>
            <span>{{ loadingMessage }}</span>
            <div id="loadingBarHolder">
              <div id="loadingBar" [ngStyle]="{'width.%': loadingStatus * 100}"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
