#body {
    border-radius: 10%;
}

#cancelBtn {
    background-color: #b44646;
    border: #813232;
}

.modal-content {
    font-family: "Button Font", 'Times New Roman', Times, serif;
    border: #212529 solid 2vmin;
    background-color: lightgrey;
}

#modalLabel {
    font-size: 200%;
    margin: 3vmin;
}

.modal-footer {
    border: none;
}