
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="modal-title" id="modalLabel">Start A Game</h5>
      <div class="modal-body">
          <div class="card card-block w-100">
            <div id="playerSelector" class="btn-group btn-group-block mt-2 w-100 " data-toggle="buttons">
              <button class="btn btn-secondary w-100 m-0" (click)="showLevelChoice(true); isSinglePlayer = true;">
                SINGLE
              </button>
              <button (click)="showLevelChoice(false); isSinglePlayer = false;" class="btn btn-secondary w-100 m-0">
                MULTIPLAYER
              </button>
            </div>
            <div id="listAvailable" [class.collapse]="!isCollapsedAvailablePlayer">
              <div class="card card-block pr-2 pl-2  w-100">
                Join A Game?
                <table class="table table-sm mb-0" id="AvailableTable">

                  <tbody>
                      <tr *ngFor="let match of matches" >
                          <button class="btn btn-secondary  w-100 m-0" (click)="joinMatch(match)">
                             {{match.name}} - {{match.difficulty}}
                            </button>
                      </tr>
                      <tr>
                        Or
                      </tr>
                    <tr>
                      <button id="newGame" (click)="showLevelChoice(true)" class="btn btn-secondary  m-2 w-75 m-0">
                        CREATE A GAME
                      </button>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <input type="text" class="form-control  align-self-center w-75 mt-2"[hidden]="!showLevelGame"  [(ngModel)]="username"  id="username" placeholder="Username">
            <div id="difficultySelector" [class.collapse]="username == null">
              <div class="card card-block pr-2 pl-2 mt-2  w-100">
                <div class="btn-group btn-group-block w-100 " data-toggle="buttons">
                  <button class="btn btn-secondary w-100 m-0" [class.active]="lvl == 'Difficulty.Easy'" id="easyBtn" (click)="changeLevel('Difficulty.Easy')">
                    EASY
                  </button>
                  <button class="btn w-100 btn-secondary m-0  " id="mediumBtn" [class.active]="lvl == 'Difficulty.Medium'" (click)="changeLevel('Difficulty.Medium')">
                    MEDIUM
                  </button>
                  <button class="btn w-100 btn-secondary m-0" id="hardBtn" [class.active]="lvl == 'Difficulty.Hard'" (click)="changeLevel('Difficulty.Hard');">
                    HARD
                  </button>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer m-0">
              <button type="button" id="playBtn" [disabled]="!isReadyToPlay" (click)="createNewGame()  "class="btn btn-primary">Play</button>
              <button id="cancelBtn" type="button"(click)="closeGameOptions()" class="btn btn-secondary" >Cancel</button>
          </div>
      </div>
    </div>
  </div>
