#difficultySelector {
    border: none;
    font-size: 10vmin;
    background-color: transparent;
}

#newGame {
    border: #61b446 solid;
    background-color: #61b446;
    border-radius: 1vmin;
}
#newGame:hover{
    border: #4d8f37 solid;
}

#difficultySelector .btn-secondary:focus {
    box-shadow: none;
}

#cancelBtn {
    background-color: #b44646;
    border: #813232;
}

#playBtn {
    background-color: steelblue;
    border: rgb(47, 90, 124);
}

#username {
    display: inline-block;
}

#difficultySelector .btn-secondary:hover {
    box-shadow: none;
}

#difficultySelector .active {
    text-decoration-line: underline;
    border: inset #212529;
}

#AvailableTable {
    border: none;
}

#AvailableTable .btn:hover {
    box-shadow: inset 0vmin 0vmin 0.2vmin 0.3vmin #212529;
    border:inset #212529 ;
}

#easyBtn, .easy {
    background-color: #61b446;
    border: #61b446 solid;
}

#mediumBtn, .medium {
    background-color: #b4b446;
    border: #b4b446 solid;
}

#hardBtn, .hard {
    background-color: #b44646;
    border: #b44646;
}

.card {
    font-family: "Button Font", 'Times New Roman', Times, serif;
    background-color: transparent;
    border: none;
}

.modal-content {
    font-family: "Button Font", 'Times New Roman', Times, serif;
    border: #212529 solid 2vmin;
    background-color: lightgrey;
}

#modalLabel {
    font-size: 200%;
    margin: 3vmin;
}

.modal-footer {
    border: none;
}
