body{
    margin: 0;
    padding: 0;
}

nav{
    text-align: center;
}

nav button{
    width: 40%;
    height: 75px;
    font-size: 200%;
    margin-right: 50px;
}

nav button:last-child{
    margin-right: 0px;
}