<div class="container-fluid">
  <ul class="nav justify-content-end fixed-top">
    <li class="nav-item">
      <a class="nav-link active" href="#" routerLink="/admin" routerLinkActive="tab-open">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" routerLink="/crosswords" routerLinkActive="tab-open">Crossword</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/race" routerLinkActive="tab-open">Race</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home-page" id="home">Home</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
