<div class="container-fluid" (keyup)="onKeyUp($event)" (keyup)="onKeyDown($event)">
  <ul class="nav fixed-top">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home-page" id="home">Home</a>
    </li>
    <li class="nav-item ml-2">
      <a class="nav-link " href="#" routerLink="/crosswords" routerLinkActive="tab-open">Crossword</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/race" routerLinkActive="tab-open">Race</a>
    </li>
    <li class="nav-item ml-auto">
      <a class="nav-link " href="#" routerLink="/admin" routerLinkActive="tab-open" id="AdminBtn">Admin</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
