<div class="row text-center mt-5">
  <div class="col-6" id="hints">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Across</th>
          <th>Down</th>
        </tr>
      </thead>
      <tr *ngFor="let item of definitions">
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
      </tr>
    </table>
   
  </div>
  <div class="col-6" id="grid">
    <table>
      <tbody>
        <tr *ngFor="let word of words">
          <td *ngFor="let letter of word" [ngClass]="{'black': letter=='-'}">
            <span *ngIf="letter != '-'">
              {{letter | uppercase}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
