<div class="row text-center justify-content-center mt-5">
  <div class="col-7 mt-3" id="hints">
    <div class="row">
      <div class="col-md pr-0">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Across</th>
            </tr>
          </thead>
          <tr *ngFor="let item of acrossDefinitions">
            <td>{{item}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md pl-0">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Down</th>
            </tr>
          </thead>
          <tr *ngFor="let item of downDefinitions">
            <td>{{item}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-5 mt-3 " id="grid">
    <table align="center">
      <tbody>
        <tr *ngFor="let letters of twoDimensionGrid">
          <td *ngFor="let letter of letters" [ngClass]="{'black': letter.isBlackTile}">
            <span *ngIf="letter.char">
              {{letter.char | uppercase}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <app-playermode></app-playermode>
  </div>

</div>