table {
    margin-top: 40px;
}

table, tr, td {
    text-align: center;
    border: solid black 2px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: 40px;;
    width: 60px;
    height: 60px;
}

.black {
    background-color: black;
}
