<div  id="trackList"class="row p-2 text-center ">
  <div class="col p-0 text-center">
    <table class="table justify-content-center table-stripped" id="trackTable">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>TITLE</th>
          <th>
            <!-- EDIT -->
          </th>
        </tr>
      </thead>
      <tbody id="trackBody">
        <tr *ngFor="let track of tracks">
            <td class="align-middle">{{track._id | uppercase}}</td>
            <td class="align-middle">{{track.name}}</td>
            <td class="align-middle">
              <button id="edit" class="btn btn-light"  href="#" [routerLink]="['/admin/tracks', track._id]" >EDIT</button>
            </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn  btn-block-no-wrap pt-0 align-text-top" id="btnAdd" href="#" routerLink="/admin/tracks/new">+
      </button>
    </div>
  </div>
</div>
