#hints th {
    font-weight: lighter;
}

#hints td {
    text-align: left;
    padding: 0%;
}

label {
    font-family: "Hints Font", 'Times New Roman', Times, serif;
}

#hints {
    font-size: 100%;
    font-family: "Hints Font", 'Times New Roman', Times, serif;
}

@font-face {
    font-family: "Hints Font";
    src: url("/assets/fonts/atwriter.ttf") format("truetype")
}
