.form-control{
    font-family: "Letter Font", 'Times New Roman', Times, serif;
    font-size: 60%;
    resize: none;
    width: 100%;
    height: 6.5vmin;
    color: black;
    text-align: center;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
.form-control::placeholder {
    color: #212529;
}

@font-face {
    font-family: "Letter Font";
    src: url("/assets/fonts/GABRWFFR.TTF") format("truetype")
  }

