input {
    align-self: center;
    font-family: "CrossWords Font", 'Times New Roman', Times, serif;
    font-size:4vmin;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

input:focus {
    color: #212529;
    cursor: text;
}
.highlight{
    border: #a3c2db solid 0.5vmin
    ;
    cursor: text;
    color: #212529;
    /* border-radius: 0% 0% 0% 0%; */
    background-color: #a3c2db;
}
.form-current{
    color: #212529;

}
.form-control:hover{
    background-color: #dae7f1;
}

@font-face {
    font-family: "Letter Font";
    src: url("/assets/fonts/GABRWFFR.TTF") format("truetype")
  }
  @font-face {
    font-family: "CrossWords Font";
    src: url("/assets/fonts/coffee+teademo-Regular.ttf") format("truetype")
  }
