button {
    align-self: center;
    font-family: "CrossWords Font", 'Times New Roman', Times, serif;
    font-size: 4vmin;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: #212529;
    text-align: center;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0%;
    white-space: nowrap;
    margin: 0;
    border-radius: 0%;
    box-sizing: border-box;
}

.highlight-player-1 {
    background-color: #b6cee2;
    box-shadow: inset 0 0 5vmin steelblue;
    border: none;
}

.highlight-player-2 {
    background-color: #ff411f;
    box-shadow: inset 0 0 5vmin steelblue;
    border: none;
}

.disabled {
    background-color: darkgrey;
    color: white;
    text-shadow: 0vmin 0vmin 10vmin #7db446;
}

.current {
    color: #212529;
    text-decoration: underline;
    animation: blinker 1.5s linear infinite;
}

.hovered {
    background-color: #a3c2db;
}

@font-face {
    font-family: "Letter Font";
    src: url("/assets/fonts/GABRWFFR.TTF") format("truetype")
}

@font-face {
    font-family: "CrossWords Font";
    src: url("/assets/fonts/coffee+teademo-Regular.ttf") format("truetype")
}

@keyframes blinker {
    50% {
        background-color: white;
        box-shadow: inset 0 0 3vmin steelblue;
    }
}
