<div *ngIf="showHighscoreAdder" class="row justify-content-center" id="container">
  <div class="col-8 align-self-center mt-4 " id="box">
    <div>
      <h1>NEW BEST TIME!</h1>
      <input name="name" required maxlength="20" [(ngModel)]="playerName" type="text" class="form-control" id="name" placeholder="Enter your name">
    </div>
      <button type="button" (click)="close()" class="btn btn-secondary m-2">DO NOT ADD</button>
      <button type="button" (click)="addHighscore()" class="btn btn-secondary m-2">ADD</button>
  </div>
</div>