.black {
    background-color: #212529;
}
#grid  {
    border-collapse: collapse;
    text-align: center;
    align-self: center;
    border: solid #212529 1vmin;
    box-shadow: 0.4vmin 0.4vmin 0.4vmin 0.4vmin gray;

}
#grid th {
    text-align: center;
    align-self: center;
    border: solid #212529 0.2vmin;
    background-color: white;
}

#grid tbody{
    background-color: white;
}


#grid td {
    font-size: 4vmin;
    width: 6.5vmin;
    height: 6.5vmin;
    text-align: center;
    border: solid #212529 0.1vmin;
}
