<div>
  <div class="row">
    <div class="col-10 text-center">
      <div #editor id="editor" (mousewheel)="onScroll($event)" oncontextmenu="return false;" (mousedown)="onClick($event)" (mouseup)="onClickRelease($event)">
      </div>
    </div>
    <div id="infoForm" class="col-2">
      <div>
        <form>
          <div class="form-group">
            <label for="name">NAME</label>
            <input name="name" required maxlength="20" [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="description">DESCRIPTION</label>
            <input name="description" [(ngModel)]="description" maxlength="300" type="text" class="form-control" id="description" placeholder="Enter a description">
          </div>
        </form>
      </div>
      <div class="card text-center" id="points">
        <ul class="list-group list-group-flush">
          <li *ngFor="let point of trackGenerator.points.points; let i = index" class="list-group-item" [ngClass]="{'selected': i === trackGenerator.points.selectedPointId}"
            (click)="selectPoint(i)">
            <span>[{{point.x | number : '1.1-1'}}, {{point.z | number : '1.1-1'}}]</span>
            <button type="button" class="ml-3 close" (click)="removePoint(i)">
              <span aria-hidden="true">&times;</span>
            </button>
          </li>
        </ul>
      </div>
      <button class="btn btn-success mt-2 btn-block" type="submit" (click)="saveTrack()">SAVE</button>
      <button class="btn btn-danger btn-block" type="submit" (click)="deleteTrack()" [disabled]="id == null">DELETE</button>
    </div>
  </div>
</div>
