<div class="container">
<div class="row text-center justify-content-center mt-5 ">
  <div class="col  align-items-center">
    <div class="card text-center ">WELCOME</div>
    <div class="btn-group-vertical ">
      <button type="button" class="btn btn-primary" routerLink="/crosswords" id="wordBtn">Crossword</button>
      <button type="button" class="btn btn-primary mt-3 " routerLink="/race" id="raceBtn">[RacE]</button>
      <button type="button" class="btn btn-primary mt-3" routerLink="/admin" id="adminBtn">Admin</button>
    </div>
  </div>
</div>
</div>
