.card{
    border: transparent;
    font-family: "Title Font",'Times New Roman', Times, serif;
    font-size: 500%;
    text-align: center;
    background-color: transparent;
    text-shadow: 0.4vmin 0.4vmin 0.4vmin 0.4vmin gray;
}

#raceBtn {
    font-family: "Race Font", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    text-align: center;
    background-color: steelblue;
    border-radius: 15%;
    border: solid 0.7vmin white;
    padding-top: 7%;
    padding-bottom: 5%;

}
#wordBtn {
    font-family: "Word Font", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 400%;
    text-align: center;
    background-color: steelblue;
    border-radius: 15%;
    border: solid 0.7vmin white;
}

#adminBtn {
    font-family: "Admin Font", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    text-align: center;
    background-color: steelblue;
    border-radius: 15%;
    border: solid 0.7vmin white;
    padding-top: 7%;
    padding-bottom: 5%;
}

@font-face {
    font-family: "Race Font";
    src: url("/assets/fonts/Railway to Hells.ttf") format("truetype");
  }
  @font-face {
    font-family: "Word Font";
    src: url("/assets/fonts/DK Uncle Edward.otf") format("opentype")

  }

  @font-face {
    font-family: "Admin Font";
    src: url("/assets/fonts/DK Uncle Edward.otf") format("opentype")

  }
  @font-face {
    font-family: "Title Font";
    src: url("/assets/fonts/imagine_font.otf") format("opentype")
  }

