#title {
    font-family: "CrossWords Font", 'Times New Roman', Times, serif;
    font-size: 300%;
    margin-bottom: 0%;
}

#overlay {
    position: fixed;
    background-color: dimgrey;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;

}

#loading{
    font-family: "Hints Font", 'Times New Roman', Times, serif;
    font-size: 400%;
    color:black;
    opacity: 1 !important;
    margin-bottom: none;
    text-shadow: 0vmin 0vmin 0.5vmin whitesmoke;
}
#searching{
    font-family: "Hints Font", 'Times New Roman', Times, serif;
    font-size: 200%;
    color:black;
    opacity: 1 !important;
    margin-bottom: none;
    text-shadow: 0vmin 0vmin 0.5vmin whitesmoke;
}
#dots{
    font-family: "Hints Font", 'Times New Roman', Times, serif;
    overflow: hidden;
    align-self: center;
    width:6rem;
    animation: typing 2s steps(4,end)   infinite  ;
    white-space: nowrap;
    margin: 0 auto;
    font-size:4rem;
    letter-spacing: 1rem;
    color:black;
    opacity: 1 !important;
    text-shadow: 0vmin 0vmin 0.5vmin whitesmoke;
}

@font-face {
    font-family: "Hints Font";
    src: url("/assets/fonts/atwriter.ttf") format("truetype")
}
@font-face {
    font-family: "CrossWords Font";
    src: url("/assets/fonts/coffee+teademo-Regular.ttf") format("truetype")
}

@keyframes typing {
    from { width: 0; }

}
