#title {
    font-family: "CrossWords Font", 'Times New Roman', Times, serif;
    font-size: 300%;
    margin-bottom: 0%;
}

@font-face {
    font-family: "CrossWords Font";
    src: url("/assets/fonts/coffee+teademo-Regular.ttf") format("truetype")
}
