<div class="row  row justify-content-center " *ngIf="loading||searching" id="overlay">
    <div class="col-6 text-center  justify-content-center align-middle center-block align-items-center mt-5 pt-3">
  <p *ngIf="loading"  id="loading">Crossing the words</p>

    </div>
</div>
<div class="row text-center  mt-5" (click)="grid.unselectWord($event)">
  <div class="col-7 mt-3">
    <p id="title">CrossWords + Chill</p>
    <app-definition></app-definition>
  </div>

  <div class="col-5 mt-3 align-items-center ">
    <app-crossword-game-info ></app-crossword-game-info>
    <app-input-grid #grid (showLoading)="loading=($event)"></app-input-grid>
  </div>
</div>
