#title {
    font-family: "CrossWords Font", 'Times New Roman', Times, serif;
    font-size: 300%;
    margin-bottom: 0%;
}

#overlay {
    position: fixed;
    background-color: dimgrey;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;

}

#text {
    font-family: "Hints Font", 'Times New Roman', Times, serif;
    overflow: hidden;
    animation: typing 2s steps(8,end) 1s  infinite  ;
    animation-delay: 1s;
    position: absolute;
    margin-left: 7%;
    font-size: 300%;
    color:black;
    opacity: 1 !important;
    letter-spacing: 0.43ch;
    text-shadow: 0vmin 0vmin 0.5vmin whitesmoke;
}

@font-face {
    font-family: "Hints Font";
    src: url("/assets/fonts/atwriter.ttf") format("truetype")
}
@font-face {
    font-family: "CrossWords Font";
    src: url("/assets/fonts/coffee+teademo-Regular.ttf") format("truetype")
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 11.87ch
    }
}
